---
import { getAllPosts } from "../../sanity/api";
import { urlForImage } from '../../sanity/urlForImage.js';
import PortableText from '../../components/portableText.astro';
import { getFormattedDate } from '../../sanity/postDate.js'; 

export async function getStaticPaths() {
  const allBlogPosts = await getAllPosts();

  return allBlogPosts.map(post => ({ params: { slug: post.slug.current }, props: { post } }));
}

const { post } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      main {
        margin: 0 auto;
        max-width: 900px;
      }
      .main-image {
        width: 100%;
      }
      .container{
        max-width: 900px;
        margin: 0 auto;
        padding: 20px 0px;
      }
      @media (max-width: 900px) {
        .container {
          padding: 20px 18px; 
        }}

    </style>
	</head>
	<body>
		<main>
      <h1>{post.title}</h1>
      <p class="post-date">Published on: {getFormattedDate(post.publishedAt)}</p>
      <h2><a href="#" id="goBackLink">Go Back</a></h2>
      <img class="main-image" src={urlForImage(post.mainImage).url()} />
      <div class="container">
      <PortableText portableText={post.body} />
      </div>
    </main>


    <script>
        // Add event listener to the anchor tag
        document.getElementById('goBackLink').addEventListener('click', function(event) {
          event.preventDefault(); // Prevent the default link behavior
    
          // Go back in the browser's history
          window.history.back();
        });
      </script>
	</body>
</html>


